<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="Rest Assured - Excel Data Driven Test">

    <listeners>
        <listener class-name="util.ExtentReporterNG"/>
    </listeners>

    <test name="CRUD Tests" group-by-instances="true">
        <classes>
            <class name="TestFramework.CreateDog"/>
            <class name="TestFramework.UpdateDog"/>
            <class name="TestFramework.ReadDog"/>
            <class name="TestFramework.DeleteDog"/>
        </classes>
    </test>

</suite>